/*
---
name: area
category:
 - shared/object/component/_area
---

# area

`エリアを定義します。border等付与する際に使用。`

`style属性はダミーです。`

<br>
<br>

##  ボーダ付与

```html
<div class="c-area -border">
  <div class="c-area__item">
    <a href="#" class="c-area__body">hogehoeghgeoghaohg</a>
  </div>
  <div class="c-area__item">
    <a href="#" class="c-area__body">hogehoeghgeoghaohg</a>
  </div>
  <div class="c-area__item">
    <a href="#" class="c-area__body">hogehoeghgeoghaohg</a>
  </div>
</div>

```

## areaとgridを組み合わせmediaパターン

```html
<ul class="c-area -border">

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit -middle">
        <div class="c-col-solid c-box-48">
          <img src="//placehold.jp/800x800.png" alt="">
        </div>
        <p class="u-inner-space-hr-M">aaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </a>
  </li>

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit -middle">
        <div class="c-col-solid c-box-48">
          <img src="//placehold.jp/800x800.png" alt="">
        </div>
        <p class="u-inner-space-hr-M">aaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <div class="c-col-solid c-box-8">
          <i class="c-icon-arrow"></i>
        </div>
      </div>
    </a>
  </li>

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit">
        <div class="c-col-solid c-box-48">
          <img src="//placehold.jp/800x800.png" alt="">
        </div>
        <p class="u-inner-space-hr-M">aaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <div class="c-col-solid c-box-8">
          <i class="c-icon-arrow u-abs-pos-RM"></i>
        </div>
      </div>
    </a>
  </li>

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit">
        <div class="c-col-solid c-box-8">
          <i class="c-icon-arrow u-abs-pos-LM"></i>
        </div>
        <p class="u-inner-space-hr-M">aaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        <div class="c-col-solid c-box-48">
          <img src="//placehold.jp/800x800.png" alt="">
        </div>
      </div>
    </a>
  </li>

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit -middle">
        <div class="c-col-solid c-box-48">
          <img src="//placehold.jp/800x800.png" alt="">
        </div>
        <div class="u-inner-space-hr-M">
          <div class="c-row-fit -gutter-XS -middle">
            <p class="c-col-solid c-box-24" style="background-color:rgba(255,0,0,.2);">xxxx</p>
            <p style="background-color:rgba(255,0,0,.2);">yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</p>
            <div class="c-col-solid c-box-24">
              <img src="//placehold.jp/800x800.png" alt="">
            </div>
          </div>
        </div>
        <div class="c-col-solid c-box-8">
          <i class="c-icon-arrow u-abs-pos-RM"></i>
        </div>
      </div>
    </a>
  </li>

  <li class="c-area__item">
    <a href="#" class="c-area__body">
      <div class="c-row-fit -middle">
        <div class="c-col-solid c-box-48">
          <img src="http://placehold.jp/800x800.png" alt="">
        </div>
        <div class="u-inner-space-hr-M">
          <p class="u-inline-block u-space-b-XS">aaaaaa</p>
          <p class="u-inline-block u-space-b-XS">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
          <p class="u-inline-block u-space-b-XS">ccccc</p>
        </div>
        <div class="c-col-solid c-box-8">
          <i class="c-icon-arrow u-abs-pos-RM"></i>
        </div>
      </div>
    </a>
  </li>

</ul>
```

*/

.c-area{
  &__item{
    .-border & {
      border-top: 1px solid #ccc;

      &:last-child{
        border-bottom: 1px solid #ccc;
      }
    }
  }

  &__body {
    display: block;
    padding: $f-margin-M;
  }

}
