/*
---
name: base button
category: shared/object/component/_button
---

## This is base button

   * Base button style.
   * Use `a` or `button` tag.

```html
<a href="#" class="c-btn-default">default</a>
```

## This is primary button

   * Base primary style.
   * Use `a` or `button` tag.


```html
<a href="#" class="c-btn-primary">primary</a>
```

*/

@mixin btnBase(){
  position: relative;
  display: inline-block;
  max-width: 100%;
  border-radius: 4px;
  padding: $f-margin-S $f-margin-M;
  line-height: 1;
  text-align: center;


  &__icon-left-box{
    width: 16px;
    text-align: left;
  }

  &__icon-right-box{
    width: 16px;
    text-align: right;
  }

  &__icon-left-text{
    text-indent: -16px;
  }

  &__icon-right-text{
    text-indent: 16px;
  }

  &__icon-center{
    text-indent: -16px;
  }
  &__icon-center-text{
    padding-left: 8px;
  }
}

.c-btn {
  //&#{&}--default
  &-default {
    @include btnBase();
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
  }

  &-primary {
    @include btnBase();
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
  }

  &-secondary {
    @include btnBase();
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
  }
}
