/*
---
name: button
category:
  - shared/object/component/_button
---

# ボタン

`<a> タグ または <button> タグ で使用してください。`

<br>
<br>

## default button
```html
<a href="#" class="c-btn-default">default</a>
<br>
<br>
<a href="#" class="c-btn-default u-block">default</a>
```

## primary button
```html
<a href="#" class="c-btn-primary">primary</a>
<br>
<br>
<a href="#" class="c-btn-primary u-block">primary</a>
```

## secondary button
```html
<a href="#" class="c-btn-secondary">secondary</a>
<br>
<br>
<a href="#" class="c-btn-secondary u-block">secondary</a>
```

## アイコン付きボタン(中央寄せで幅は親サイズに依存)
```html
<a href="#" class="c-btn-default u-block">
  <div class="c-btn-default__icon-center">
    <i class="c-icon-arrow"></i><span class="c-btn-default__icon-center-text">default</span>
  </div>
</a>
```

## アイコン付きボタン(左アイコンで幅は親サイズに依存)
```html
<a href="#" class="c-btn-default u-block">
  <div class="c-row-fit -middle">
    <div class="c-col-solid c-btn-default__icon-left-box">
      <i class="c-icon-arrow"></i>
    </div>
    <p class="c-btn-default__icon-left-text">default</p>
  </div>
</a>
```

## アイコン付きボタン(右アイコンで幅は親サイズに依存)
```html
<a href="#" class="c-btn-default u-block">
  <div class="c-row-fit -middle">
    <p>default</p>
    <div class="c-col-solid c-btn-default__icon-right-box">
      <i class="c-icon-arrow"></i>
    </div>
  </div>
</a>
```


## アイコン付きボタン(左アイコンで幅は中身に依存)
```html
<a href="#" class="c-btn-default u-inline-block">
  <div class="c-row-fit -middle">
    <div class="c-col-solid c-btn-default__icon-left-box">
      <i class="c-icon-arrow"></i>
    </div>
    <p>default</p>
  </div>
</a>
```


## アイコン付きボタン(右アイコンで幅は中身に依存)
```html
<a href="#" class="c-btn-default u-inline-block">
  <div class="c-row-fit -middle">
    <p>default</p>
    <div class="c-col-solid c-btn-default__icon-right-box">
      <i class="c-icon-arrow"></i>
    </div>
  </div>
</a>
```

*/

@mixin btnBase(){
  position: relative;
  display: inline-block;
  max-width: 100%;
  border-radius: 4px;
  padding: $f-margin-S $f-margin-M;
  line-height: 1;
  text-align: center;


  &__icon-left-box{
    width: 16px;
    text-align: left;
  }

  &__icon-right-box{
    width: 16px;
    text-align: right;
  }

  &__icon-left-text{
    text-indent: -16px;
  }

  &__icon-right-text{
    text-indent: 16px;
  }

  &__icon-center{
    text-indent: -16px;
  }
  &__icon-center-text{
    padding-left: 8px;
  }
}

.c-btn {
  //&#{&}--default
  &-default {
    @include btnBase();
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
  }

  &-primary {
    @include btnBase();
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
  }

  &-secondary {
    @include btnBase();
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
  }
}
