/*
---
name: icon
category:
 - shared/object/component/_icon
---

# アイコン一覧

`サイズは○x○と○x○と○x○の３種類`

`<i> タグ で使用してください。`

`dropshadow等もサイズ内に納めてください。`

<br>
<br>

##  searchアイコン
```html
<i class="c-icon-search"></i>
```

##  browserアイコン
```html
<i class="c-icon-browser"></i>
```

##  arrowアイコン
```html
<i class="c-icon-arrow"></i>
```

*/


@import "../../sprite/typeA/sprite";

@mixin iconBase(){
  display: inline-block;
  vertical-align: middle;
}

.c-icon {

  //&#{&}--search{
  &-search{
    @include iconBase();
    @include f-sprite($icon-search);
  }

  &-browser{
    @include iconBase();
    @include f-sprite($icon-browser);
  }

  &-diamond{
    @include iconBase();
    @include f-sprite($icon-diamond);
  }

  &-arrow{
    @include iconBase();
    @include f-sprite($icon-link-arrow-black-16x26);
  }
}
