/*
---
name: typography
category:
 - shared/object/component/_typography
---

# タイポグラフィー

`font-size と line-height が定義`

```html
<h1 class="c-typo-Lv1">Page title (20px / line-height: 2 / font-weight: bold)</h1>
<h2 class="c-typo-Lv2">title (18px / line-height: 1.8 / font-weight: bold)</h2>
<h3 class="c-typo-Lv3">Sub title (16px / line-height: 1.6)</h3>
<h4 class="c-typo-Lv4">Lv4 (14px / line-height: 1.4)</h4>
<h5 class="c-typo-Lv5">Lv5 (12px / line-height: 1.2)</h5>
<h6 class="c-typo-Lv6">Lv6 (10px / line-height: 1.0)</h6>
```

*/

.c-typo {

  //&#{&}--XL {
  &-Lv1 {
    font-size: $f-font-size-XL;
    line-height: $f-line-height-XL;
    font-weight: bold;
  }

  &-Lv2 {
    font-size: $f-font-size-LL;
    line-height: $f-line-height-LL;
    font-weight: bold;
  }

  &-Lv3 {
    font-size: $f-font-size-L;
    line-height: $f-line-height-L;
  }

  &-Lv4 {
    font-size: $f-font-size-M;
    line-height: $f-line-height-M;
  }

  &-Lv5 {
    font-size: $f-font-size-S;
    line-height: $f-line-height-S;
  }


  &-Lv6 {
    font-size: $f-font-size-XS;
    line-height: $f-line-height-XS;
  }

}
