
.c-typo {

  //&#{&}--XL {
  &-Lv1 {
    font-size: $f-font-size-XL;
    line-height: $f-line-height-XL;
    font-weight: bold;
  }

  &-Lv2 {
    font-size: $f-font-size-LL;
    line-height: $f-line-height-LL;
    font-weight: bold;
  }

  &-Lv3 {
    font-size: $f-font-size-L;
    line-height: $f-line-height-L;
  }

  &-Lv4 {
    font-size: $f-font-size-M;
    line-height: $f-line-height-M;
  }

  &-Lv5 {
    font-size: $f-font-size-S;
    line-height: $f-line-height-S;
  }


  &-Lv6 {
    font-size: $f-font-size-XS;
    line-height: $f-line-height-XS;
  }

}
