@charset "UTF-8";

//==========================================================================
// Foundation
// ==========================================================================

@import "shared/foundation/config";
@import "shared/foundation/reset";
@import "shared/foundation/mixin";
@import "shared/foundation/base";


// ==========================================================================
// Object
// ==========================================================================

  // -----------------------------------------------------------------
  // Component
  // -----------------------------------------------------------------

  @import "shared/object/component/icon";
  @import "shared/object/component/typography";
  @import "shared/object/component/group";
  @import "shared/object/component/button";


  // -----------------------------------------------------------------
  // Project
  // -----------------------------------------------------------------
  @import "shared/object/project/header";
  @import "shared/object/project/footer";


  // -----------------------------------------------------------------
  // Utility
  // -----------------------------------------------------------------
  @import "shared/object/utility/space";
  @import "shared/object/utility/inner-space";
  @import "shared/object/utility/line-height";
  @import "shared/object/utility/text";




//test code
.flex{
  display: flex;
  border: 1px solid;
  &__half{
    flex-basis: 50%;
  }
}


