@charset "UTF-8";

//==========================================================================
// Foundation
// ==========================================================================

@import "shared/foundation/config";
@import "shared/foundation/reset";
@import "shared/foundation/mixin";
@import "shared/foundation/base";


// ==========================================================================
// Object
// ==========================================================================

  // -----------------------------------------------------------------
  // Component
  // -----------------------------------------------------------------

  @import "shared/object/component/icon";
  @import "shared/object/component/typography";
  @import "shared/object/component/group";
  @import "shared/object/component/button";
  @import "shared/object/component/grid";
  @import "shared/object/component/media";


  // -----------------------------------------------------------------
  // Project
  // -----------------------------------------------------------------
  @import "shared/object/project/header";
  @import "shared/object/project/footer";


  // -----------------------------------------------------------------
  // Utility
  // -----------------------------------------------------------------
  @import "shared/object/utility/space";
  @import "shared/object/utility/inner-space";
  @import "shared/object/utility/line-height";
  @import "shared/object/utility/text";
  @import "shared/object/utility/display";
  @import "shared/object/utility/position";


.w8{
  width: 8px;
}

.w20{
  width: 20px;
}

.w32{
  width: 32px;
}

.w50{
  width: 50px;
}

.w100{
  width: 100px;
}


