/*
---
name: line-height
category:
 - shared/object/utility/_line-height
---

# line-heightのユーティリティ

<style>
<!--
table{
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
}
td,th{
  padding: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
}
//-->
</style>

<br>
<table>
  <tr>
    <th>サイズ名</th>
    <th>行間サイズ</th>
  </tr>
  <tr>
    <td>XS</td>
    <td>1</td>
  </tr>
  <tr>
    <td>S</td>
    <td>1.2</td>
  </tr>
  <tr>
    <td>M</td>
    <td>1.4</td>
  </tr>
  <tr>
    <td>L</td>
    <td>1.6</td>
  </tr>
  <tr>
    <td>LL</td>
    <td>1.8</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>2</td>
  </tr>
</table>


<br>
<br>

##  line-height 2
```html
<p class="u-line-height-XL">あああああああああああああ<br>あああああああああああああ</p>
```

*/

.u-line-height {

  &-XS {
    line-height: $f-line-height-XS;
  }
  &-S {
    line-height: $f-line-height-S;
  }
  &-M {
    line-height: $f-line-height-M;
  }
  &-L {
    line-height: $f-line-height-L;
  }
  &-LL {
    line-height: $f-line-height-LL;
  }
  &-XL {
    line-height: $f-line-height-XL;
  }
}