/*
---
name: space
category:
 - shared/object/utility/_space
---

# marginを付与するユーティリティ

<style>
<!--
table{
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
}
td,th{
  padding: 5px;
  border-width: thin;
  border-style: solid;
  border-color: #ccc;
}
//-->
</style>

<br>
<table>
  <tr>
    <th>サイズ名</th>
    <th>マージンサイズ</th>
  </tr>
  <tr>
    <td>XS</td>
    <td>8px</td>
  </tr>
  <tr>
    <td>S</td>
    <td>12px</td>
  </tr>
  <tr>
    <td>M</td>
    <td>16px</td>
  </tr>
  <tr>
    <td>L</td>
    <td>20px</td>
  </tr>
  <tr>
    <td>LL</td>
    <td>24px</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>32px</td>
  </tr>
</table>

<br>
<br>


##  上にmarginを付与
```html
<div style="border:1px solid;">
  <p class="u-space-t-XL">
    <span style="border:1px solid #f00;">上にmarginが32px（XLサイズ）</span>
  </p>
</div>
```

##  下にmarginを付与
```html
<div style="border:1px solid;">
  <p class="u-space-b-XL">
    <span style="border:1px solid #f00;">下にmarginが32px（XLサイズ）</span>
  </p>
</div>

```

##  左にmarginを付与
```html
<div style="border:1px solid;">
  <p class="u-space-l-XL">
    <span style="border:1px solid #f00;">左にmarginが32px（XLサイズ）</span>
  </p>
</div>

```

##  右にmarginを付与
```html
<div style="border:1px solid; text-align: right;">
  <p class="u-space-r-XL">
    <span style="border:1px solid #f00;">右にmarginが32px（XLサイズ）</span>
  </p>
</div>

```

*/

.u-space {

  //margin-top
  &-t-XS{
     margin-top: $f-margin-XS;
  }

  &-t-S{
    margin-top: $f-margin-S;
  }

  &-t-M{
    margin-top: $f-margin-M;
  }

  &-t-L {
    margin-top: $f-margin-L;
  }

  &-t-LL {
    margin-top: $f-margin-LL;
  }

  &-t-XL {
    margin-top: $f-margin-XL;
  }

  //margin-bottom
  &-b-XS{
    margin-bottom: $f-margin-XS;
  }

  &-b-S{
    margin-bottom: $f-margin-S;
  }

  &-b-M{
    margin-bottom: $f-margin-M;
  }

  &-b-L {
    margin-bottom: $f-margin-L;
  }

  &-b-LL {
    margin-bottom: $f-margin-LL;
  }

  &-b-XL {
    margin-bottom: $f-margin-XL;
  }


  //margin-left
  &-l-XS{
    margin-left: $f-margin-XS;
  }

  &-l-S{
    margin-left: $f-margin-S;
  }

  &-l-M{
    margin-left: $f-margin-M;
  }

  &-l-L {
    margin-left: $f-margin-L;
  }

  &-l-LL {
    margin-left: $f-margin-LL;
  }

  &-l-XL {
    margin-left: $f-margin-XL;
  }

  //margin-right
  &-r-XS{
    margin-right: $f-margin-XS;
  }

  &-r-S{
    margin-right: $f-margin-S;
  }

  &-r-M{
    margin-right: $f-margin-M;
  }

  &-r-L {
    margin-right: $f-margin-L;
  }

  &-r-LL {
    margin-right: $f-margin-LL;
  }

  &-r-XL {
    margin-right: $f-margin-XL;
  }

}